<main class="nxl-container">
  <div class="nxl-content">
    <!-- Page Header remains unchanged -->

    <!-- Navigation for Sub Groups and All Posts -->
    <div class="bg-white py-3 border-bottom rounded-0 p-md-0 mb-0">
      <div class="d-flex align-items-center justify-content-between">
        <div class="nav-tabs-wrapper page-content-left-sidebar-wrapper">       
          <ul class="nav nav-tabs" role="tablist">
            <!-- All Posts Tab (default active tab) -->
            <li class="nav-item" role="presentation">
              <button class="nav-link active" 
                      [attr.data-bs-target]="'#allPostsTab'"
                      data-bs-toggle="tab">
                All Posts
              </button>
            </li>

            <!-- Subgroup Tabs -->
            <ng-container *ngIf="subGroupDetails?.sub_groups?.length > 0; else noSubGroups">
              <li class="nav-item" *ngFor="let subgroup of subGroupDetails.sub_groups" role="presentation">
                <button class="nav-link" 
                        [attr.data-bs-target]="'#' + subgroup.group_name.replace(' ', '') + 'Tab'"
                        data-bs-toggle="tab" 
                        (click)="getPosts(subgroup.group_id)">
                  {{ subgroup.group_name }}
                </button>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <ng-template #noSubGroups>
        <p>No subgroups created yet.</p>
      </ng-template>
      <div class="tab-content">
        <!-- All Posts Tab Content (default active tab) -->
        <div class="tab-pane fade show active" id="allPostsTab">
          <div class="row">
            <div class="col-lg-4" *ngFor="let post of parentGroupPosts">
              <div class="card" (click)="getPostsById(post.id)">
                <div class="card-body custom-card-action">
                  <img src="http://crocusglobal.com/ftp_forum_img/{{post.header_img_file_name}}" alt="Image description">
                  <hr>
                  <div class="content">
                    <h4>{{ post.title }}</h4>
                    <p [innerHTML]="sanitizeDescription(post.descr)"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Subgroup Tabs Content -->
        <div class="tab-pane fade" *ngFor="let subgroup of subGroupDetails.sub_groups" 
             [id]="subgroup.group_name.replace(' ', '') + 'Tab'">
          <div class="row">
            <div class="col-lg-4" *ngFor="let user of userData">
              <div class="card" (click)="getPostsById(user.id)">
                <div class="card-body custom-card-action">
                  <img src="http://crocusglobal.com/ftp_forum_img/{{user.header_img_file_name}}" alt="Image description">
                  <hr>
                  <div class="content">
                    <h4>{{ user.title }}</h4>
                    <p [innerHTML]="sanitizeDescription(user.descr)"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
