<div class="part">
  <div>
    <nav class="side-nav">
      <div class="m-header">
        <img src="../../assets/images/Lakshya Software Technologies Private Limited 2.png" alt=""
          class="logo logo-lg" />
      </div>
      <span>
        <h4><i class="feather-home fs-4 text-dark"></i>
        <a routerLink="/User">Home</a></h4>
      </span>
      <div class="card card-1 pt-5">
        <div class="card-body">
          <h6 class=" text-dark fw-bolder">User Options</h6>

          <span>
            <i class="feather-edit fs-4 text-dark"></i>
            <a routerLink="#">Create Post</a>
          </span>

        </div>
        <div class="card-body pt-0">
          <span>
            <i class="feather-file fs-4 text-dark"></i>
            <a routerLink="/User/MyPosts">My Post</a>
          </span>

        </div>
      </div>
    </nav>
  </div>


    <div class="main-content pt-5 mt-5">
      <div class="row">
        <div class="card col-xxl-12 mb-4 mx-4 mx-sm-0 position-relative stretch-full">
          <div class="card-body row p-sm-5">
            <form [formGroup]="CreatePost">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="name" class="form-control" id="name" formControlName="title">
                <div
                  *ngIf="CreatePost.controls['title'].invalid && (CreatePost.controls['title'].dirty || CreatePost.controls['title'].touched)">
                  <div *ngIf="CreatePost.controls['title'].errors?.['required']" class="text-danger">
                    Title is required.
                  </div>
                  <div *ngIf="CreatePost.controls['title'].errors?.['maxlength']" class="text-danger">
                    Title cannot exceed 450 characters.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="header_image" class="form-label">Header Image</label>
                <input type="file" class="form-control" id="header_image" formControlName="header_image"
                  (change)="handleFileInputChange($event, 'header_image')">
              </div>
              <div class="mb-3">
                <label for="descr" class="form-label">Description</label>
                <div class="NgxEditor__Wrapper">
                  <ngx-editor-menu [editor]="editorIntro"></ngx-editor-menu>
                  <ngx-editor class="form-control" id="descr" formControlName="descr" [editor]="editorIntro"
                    placeholder="Type here...">
                  </ngx-editor>
                </div>
                <div
                  *ngIf="CreatePost.controls['descr'].invalid && (CreatePost.controls['descr'].dirty || CreatePost.controls['descr'].touched)">
                  <div *ngIf="CreatePost.controls['descr'].errors?.['required']" class="text-danger">
                    Description is required.
                  </div>
                  <div *ngIf="CreatePost.controls['descr'].errors?.['maxlength']" class="text-danger">
                    Description cannot exceed 4500 characters.
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <label for="attached_file" class="form-label">Attached File</label>
                <input type="file" class="form-control" id="attached_file" formControlName="attached_file"
                  (change)="handleFileInputChange($event, 'attached_file')">
              </div>
              <div class="mb-3 row">
                <div class="col-lg-6">
                  <label for="group_id" class="form-label">Choose a Group name:</label>
                  <select class="form-control" id="group_id" formControlName="group_id"
                    (change)="onGroupSelect($event)">
                    <option value="" disabled>--- Choose the group name ---</option>
                    <option [value]="5">Public Group</option>

                    <option *ngFor="let group of parentGroups.groups" [value]="group.group_id">{{ group.group_name }}
                    </option>
                  </select>
                  <div
                    *ngIf="CreatePost.controls['group_id'].invalid && (CreatePost.controls['group_id'].dirty || CreatePost.controls['group_id'].touched)">
                    <div *ngIf="CreatePost.controls['group_id'].errors?.['required']" class="text-danger">
                      Group name is required.
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <label for="subgroup_id" class="form-label">Choose a Subgroup name:</label>
                  <select class="form-control" id="subgroup_id" formControlName="subgroup_id">
                    <option value="" disabled>--- Choose the subgroup name ---</option>
                    <option *ngFor="let subgroup of SubparentGroups.sub_groups" [value]="subgroup.group_id">{{
                      subgroup.group_name }}</option>
                  </select>
                </div>

              </div>

              <div class="row mt-5">
                <div class="col-12">
                  <button class="btn btn-lg btn-primary w-100" (click)="createBlog()">Create Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

