<main class="nxl-container">
  <div class="nxl-content">
    <div class="main-content">
      <div class="row">
        <div class="row ">
          <div class="card ">
            <div class="card-header">
              <h5 class="card-title">{{postIdDetails.post.title}}</h5>
            </div>

            <div class="card-body custom-card-action">
              <img src="http://crocusglobal.com/ftp_forum_img/{{postIdDetails.post.header_img_file_name}}" alt="Image description">
              <p [innerHTML]="sanitizeDescription(postIdDetails.post.descr)"> </p>
              <div class="file-attachment"> 
                <i class="feather-paperclip"></i>
                <a   download="https://crocusglobal.com/ftp_forum_docs/{{postIdDetails.post.attached_file_name}}"> {{postIdDetails.post.attached_file_name}}</a>

                <a   download="{{postIdDetails.post.attached_file_name}}" href="https://crocusglobal.com/ftp_forum_docs/{{postIdDetails.post.attached_file_name}}"> {{postIdDetails.post.attached_file_name}}</a>
              </div>
             
              
            </div>
          </div>

          <!-- Comments Section -->
          <div class="comment-section col-lg-10 mt-4">
            <h3>Comments</h3>
            <div class="comment-form">
              <form [formGroup]="commentForm">
                <textarea placeholder="Write a comment..." formControlName="comment_text"></textarea>
                <button type="button" (click)="postComment(null, commentForm)">Post Comment</button>
              </form>
            </div>

            <div *ngIf="allComments?.Comments && allComments.Comments.length > 0">
              <div *ngFor="let parentComment of allComments.Comments" class="comment">
                <p class="comment-author">
                  <i class="feather-user"></i> {{ parentComment.user_name }} commented:
                </p>
                <h5 class="comment-text">{{ parentComment.comment_text }}</h5>

                <!-- Reply button -->
                <button type="button" class="reply-text" (click)="showReplyForm(parentComment)">Reply</button>

                <!-- Reply Form for parent comment -->
                <form *ngIf="parentComment.showReplyForm" [formGroup]="replyForms[parentComment.id]" style="display: flex;">
                  <textarea rows="1" placeholder="Write a reply..." formControlName="comment_text" class="reply-textarea"></textarea>
                  <button type="button" class="reply-button" (click)="postComment(parentComment.id, replyForms[parentComment.id])">Post Reply</button>
                </form>

                <!-- Display first reply -->
                <div *ngIf="parentComment.replies && parentComment.replies.length > 0">
                  <div class="reply" *ngFor="let reply of parentComment.replies; let i = index" [hidden]="i > 0 && !parentComment.showAllReplies">
                    <p class="reply-author">
                      <i class="feather-user"></i> {{ reply.user_name }} replied:
                    </p>
                    <h5 class="reply-text">{{ reply.comment_text }}</h5>

                    <!-- Reply button for reply -->
                    <button type="button" class="reply-text" (click)="showReplyForm(reply)">Reply</button>

                    <!-- Reply Form for reply -->
                    <form *ngIf="reply.showReplyForm" [formGroup]="replyForms[reply.id]" style="display: flex;">
                      <textarea rows="1" placeholder="Write a reply..." formControlName="comment_text" class="reply-textarea"></textarea>
                      <button type="button" class="reply-button" (click)="postComment(reply.id, replyForms[reply.id])">Post Reply</button>
                    </form>
                  </div>
                  
                  <!-- View more replies toggle -->
                  <button *ngIf="parentComment.replies.length > 1" (click)="toggleReplies(parentComment)">
                    {{ parentComment.showAllReplies ? 'Hide' : 'View more' }} replies
                  </button>
                </div>
              </div>
            </div>

            <!-- If no comments available -->
            <p *ngIf="!allComments?.Comments || allComments.Comments.length === 0">No comments yet. Be the first to comment!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
