<main class="nxl-container">
  <div class="nxl-content">
    <div class="main-content">
      <div class="row">
        <div class="row ">
          <div class="card ">
            <div class="card-header">
              <h5 class="card-title">{{postIdDetails.post.title}}</h5>

            </div>

            <!-- <div class="card"> -->
            <div class=" card-body custom-card-action">
              <!-- {{postIdDetails.post | json}} -->
               <!-- {{postIdDetails.post.attached_file_name}}  -->
              <img src="http://crocusglobal.com/ftp_forum_img/{{postIdDetails.post.header_img_file_name}}"
                alt="Image description">
              <p [innerHTML]="sanitizeDescription(postIdDetails.post.descr)"> </p>

              <div class="file-attachment"> 
                <i class="feather-paperclip"></i>
                <a href="https://crocusglobal.com/ftp_forum_docs/{{postIdDetails.post.attached_file_name}}"> {{postIdDetails.post.attached_file_name}}</a>
              </div>
              <div>

              </div>


            </div>
            <!-- </div> -->


          </div>
          <div class="card-footer">
            <ul class="pagination">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>