<div class="container">
    <div>
        <img src="../../../assets/images/employee.jpg" alt="Image description" width="800px" height="500px">
        <p class="col-lg-10">
            India, officially known as the Republic of India, is a vast and diverse country located in South
            Asia.<br><br> It is the seventh-largest country by land area and the second-most populous country globally,
            with a population of over 1.4 billion people. India is a land of remarkable diversity, encompassing a
            multitude of languages, religions, cultures, and traditions. This diversity is reflected in its geography,
            climate, and social structure, making it a unique and vibrant nation.

            Geographically, India is characterized by its varied landscapes. To the north, the majestic Himalayan
            mountain range serves as a natural barrier, separating India from the rest of Asia.<br><br> The Himalayas
            are home to some of the world's highest peaks, including Mount Kanchenjunga, which is the third-highest
            mountain in the world. These mountains are not only a source of awe-inspiring beauty but also play a crucial
            role in India's climate and water resources. The northern region experiences cold winters and mild summers,
            while the southern part of the country, closer to the equator, enjoys a tropical climate with hot summers
            and monsoon rains.

            India's central and southern regions are dominated by the Deccan Plateau, a large plateau that is bounded by
            the Western Ghats and Eastern Ghats mountain ranges.<br><br> These ranges run parallel to the western and
            eastern coasts of India, respectively, and are known for their lush greenery, diverse flora and fauna, and
            rich biodiversity. The Western Ghats, in particular, are recognized as a UNESCO World Heritage site and are
            considered one of the world's eight "hottest hotspots" of biological diversity. The plateau is also known
            for its black soil, which is conducive to the cultivation of cotton and other crops.<br><br>

            India's river systems play a vital role in the country's agriculture, economy, and culture. The Ganges,
            often referred to as the Ganga, is the most sacred river in India and holds significant religious importance
            for Hindus. It flows through the northern plains, providing water for millions of people and irrigating vast
            agricultural lands. The Brahmaputra, Yamuna, Godavari, Krishna, and Kaveri are other major rivers that
            traverse the country's landscape, supporting agriculture and serving as lifelines for numerous towns and
            cities.

            India's climate is equally diverse, ranging from the arid deserts of Rajasthan to the tropical rainforests
            of the Western Ghats and the Andaman and Nicobar Islands.<br><br> The country experiences four primary
            seasons: winter, summer, monsoon, and post-monsoon. The monsoon season, which typically occurs between June
            and September, is particularly important as it provides the majority of the country's annual rainfall. The
            monsoon rains are crucial for agriculture, as they replenish water bodies and support the growth of crops,
            especially rice and wheat, which are staple foods for millions of Indians.

            Culturally, India is a mosaic of languages, religions, and traditions.<br><br> The country is home to
            several major religions, including Hinduism, Islam, Christianity, Sikhism, Buddhism, and Jainism. Hinduism
            is the predominant religion, practiced by the majority of the population, and it has a profound influence on
            Indian culture, philosophy, and way of life. India's religious diversity is also reflected in its numerous
            festivals, which are celebrated with great enthusiasm and fervor. Diwali, the festival of lights, Holi, the
            festival of colors, Eid, Christmas, and Guru Nanak Jayanti are just a few of the many festivals that bring
            people together, fostering a sense of community and shared heritage.


        </p>
    </div>
    <div class="profile-box">
        <div class="last-content col-lg-10 ">
            <div class="circleimage">
                <img src="../../../assets/images/ratantata.jpg" alt="Image description" class="image-fluid">
            </div>
            <div class="imagecontent ">
                <p>Ratan Tata

                </p><br>
                <p>Ratan Tata is a prominent Indian industrialist, philanthropist, and former chairman of Tata Sons, the
                    holding company of the Tata Group, one of India's largest and most respected conglomerates. Known
                    for his leadership, vision, and commitment to ethical business practices,
                    Ratan Tata has played a pivotal role in transforming the Tata Group into a global powerhouse.
         
        <div class="profile-posts">
                <div>
                <button>View Profile</button>
                </div>
                <div>
                <button>View all Posts</button>
                </div>
                </div>
             
             </div>
            
        </div>
    </div>
       




    </div>