<header class="nxl-header">
    <div class="header-wrapper">
        <div class="header-left d-flex align-items-center gap-4">
            <a href="javascript:void(0);" class="nxl-head-mobile-toggler" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
  
            <div class="nxl-navigation-toggle">
                <a href="javascript:void(0);" id="menu-mini-button">
                    <i class="feather-align-left"></i>
                </a>
                <a href="javascript:void(0);" id="menu-expend-button" style="display: none">
                    <i class="feather-arrow-right"></i>
                </a>
            </div>

            <div class="nxl-lavel-mega-menu-toggle d-flex d-lg-none">
                <a href="javascript:void(0);" id="nxl-lavel-mega-menu-open">
                    <i class="feather-align-left"></i>
                </a>
            </div>

        </div>
 
        <div class="header-right ms-auto">
            <div class="d-flex align-items-center">
                <div class="nxl-h-item d-none d-sm-flex">
                    <div class="full-screen-switcher">
                        <a href="javascript:void(0);" class="nxl-head-link me-0" onclick="$('body').fullScreenHelper('toggle');">
                            <i class="feather-maximize maximize"></i>
                            <i class="feather-minimize minimize"></i>
                        </a>
                    </div>
                </div>
             
                <div class=" dropdown">
                    <button class="dropdown-button" (click)="toggleDropdown()">
                        <img src="../../../assets/images/user_icon.jpg" alt="user-image" class="img-fluid user-avtar me-0" />

                    </button>
                    <div class="dropdown-content" [class.show]="isDropdownOpen">
                      <a href="#" >
                        <h6 class="text-dark mb-0">{{userLoginDetails.firstname}}{{userLoginDetails.lastname}} <span class="badge bg-soft-success text-success ms-1">Active</span></h6>
                      </a>
                      <a href="#" >
                        <h6 class="text-dark mb-0">{{userLoginDetails.email}}</h6>
                      </a>
                      <a href="#" >
                        <h6 class="text-dark mb-0">{{userLoginDetails.mobile}}</h6>
                      </a>
                      <hr>
                      <div>
<a (click)="logout()"><h6 class="text-dark mb-0">
    Logout
</h6></a>                        <!-- <span class="fs-12 fw-medium text-muted">alex.dellaoutlook.com</span> -->
                                            
                       
                    </div>
                    </div>
                  </div>
               
                  
               
            </div>
        </div>
    </div>
</header>