<div class="main">
    <div class="">
        <nav class="nxl-navigation">
            <div class="navbar-wrapper">
                <div class="m-header">
                    <a href="index.html" class="b-brand">
                        <!-- ========   change your logo hear   ============ -->
                        <img src="../../assets/images/Lakshya Software Technologies Private Limited 2.png" alt="" class="logo logo-lg" />
                        <img src="../../assets/images/logo_1.png" alt="" class="logo logo-sm" />
                    </a>
                </div>
                <div class="navbar-content">
                    <ul class="nxl-navbar">
                        <li class="nxl-item nxl-caption">
                            <label>Navigation</label>
                        </li>
                        <li class="nxl-item nxl-hasmenu">
                            <a href="javascript:void(0);" class="nxl-link">
                                <span class="nxl-micon"><i class="feather-airplay"></i></span>
                                <span class="nxl-mtext">Dashboards</span><span class="nxl-arrow"><i
                                        class="feather-chevron-right"></i></span>
                            </a>
                            <ul class="nxl-submenu">
                                <li class="nxl-item"><a class="nxl-link" >CRM</a></li>
                                <li class="nxl-item"><a class="nxl-link" >Analytics</a></li>
                            </ul>
                        </li>
                        <li class="nxl-item nxl-hasmenu">
                            <a href="javascript:void(0);" class="nxl-link">
                                <span class="nxl-micon"><i class="feather-cast"></i></span>
                                <span class="nxl-mtext">Reports</span><span class="nxl-arrow"><i
                                        class="feather-chevron-right"></i></span>
                            </a>
                            <ul class="nxl-submenu">
                                <li class="nxl-item"><a class="nxl-link" >Sales Report</a></li>
                            
                            </ul>
                        </li>
                  
                      
                      
                    </ul>
                    <div class="card text-center">
                        <div class="card-body">
                            <i class="feather-sunrise fs-4 text-dark"></i>
                            <h6 class="mt-4 text-dark fw-bolder">Downloading Center</h6>
                            <p class="fs-11 my-3 text-dark">Duralux is a production ready CRM to get started up and
                                running easily.</p>
                            <a href="javascript:void(0);" class="btn btn-primary text-dark w-100">Download Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="">
        <app-header></app-header>

        <router-outlet></router-outlet>
    </div>
</div>