<main class="nxl-container">
    <div class="nxl-content">
      <div class="page-header">
        <div class="page-header-left d-flex align-items-center">
          <div class="page-header-header_image">
            <h5 class="m-b-10">Dashboard</h5>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a>post</a></li>
            <li class="breadcrumb-item">Create A post</li>
          </ul>
        </div>
        <div class="page-header-right ms-auto">
          <div class="d-md-none d-flex align-items-center">
            <a href="javascript:void(0)" class="page-header-right-open-toggle">
              <i class="feather-align-right fs-20"></i>
            </a>
          </div>
        </div>
      </div>
  
      <div class="main-content">
        <div class="row">
          <div class="card col-xxl-12 mb-4 mx-4 mx-sm-0 position-relative stretch-full">
            <div class="card-body row p-sm-5">
              <form [formGroup]="CreatePost">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="name" class="form-control" id="name" formControlName="title" >
                    <div *ngIf="CreatePost.controls['title'].invalid && (CreatePost.controls['title'].dirty || CreatePost.controls['title'].touched)">
                        <div *ngIf="CreatePost.controls['title'].errors?.['required']" class="text-danger">
                          Title is required.
                        </div>
                        <div *ngIf="CreatePost.controls['title'].errors?.['maxlength']" class="text-danger">
                          Title cannot exceed 450 characters.
                        </div>
                      </div>
                  </div>
                <div class="mb-3">
                  <label for="header_image" class="form-label">Header Image</label>
                  <input type="file" class="form-control" id="header_image" formControlName="header_image" (change)="handleFileInputChange($event, 'header_image')">
                </div>
  
                <div class="mb-3">
                  <label for="descr" class="form-label">Description</label>
                  <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editorIntro"></ngx-editor-menu>
                    <ngx-editor
                      class="form-control"
                      id="descr"
                      formControlName="descr"
                      [editor]="editorIntro"
                      placeholder="Type here...">
                    </ngx-editor>
                  </div>
                  <div *ngIf="CreatePost.controls['descr'].invalid && (CreatePost.controls['descr'].dirty || CreatePost.controls['descr'].touched)">
                    <div *ngIf="CreatePost.controls['descr'].errors?.['required']" class="text-danger">
                      Description is required.
                    </div>
                    <div *ngIf="CreatePost.controls['descr'].errors?.['maxlength']" class="text-danger">
                      Description cannot exceed 4500 characters.
                    </div>
                  </div>
                </div>
  
                <div class="mb-3">
                  <label for="attached_file" class="form-label">Attached File</label>
                  <input type="file" class="form-control" id="attached_file" formControlName="attached_file" (change)="handleFileInputChange($event, 'attached_file')">
                </div>
                <div class="mb-3">                  <label for="group_id" class="form-label">Choose a Group name:</label>
                  <select class="form-control" id="group_id" formControlName="group_id">
                    <option value="" disabled>--- Choose the group name ---</option>
                    <option *ngFor="let group of parentGroups" [value]="group.group_id">{{ group.group_name }}</option>
                  </select>
                  <div *ngIf="CreatePost.controls['group_id'].invalid && (CreatePost.controls['group_id'].dirty || CreatePost.controls['group_id'].touched)">
                    <div *ngIf="CreatePost.controls['group_id'].errors?.['required']" class="text-danger">
                      Group name is required.
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-12">
                    <button class="btn btn-lg btn-primary w-100" (click)="createBlog()">Create Post</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <footer class="footer">
      <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
        <span>Copyright © 2024</span>
      </p>
      <div class="d-flex align-items-center gap-4">
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
      </div>
    </footer>
  </main>
  