<div class="nxl-content">
  <div class="page-header">
    <div class="page-header-left d-flex align-items-center">
      <div class="page-header-title">
        <h5 class="m-b-10">{{groupMembers?.group_name}}</h5>
      </div>
    </div>
    <div class="page-header-right ms-auto">
      <div class="page-header-right-items">
        <div class="d-flex">
          <a href="javascript:void(0)" class="page-header-right-close-toggle">
            <button mat-button mat-dialog-close align="end">
              <i class="feather-x"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="row">
      <div class="col-xxl-12 col-md-12">
        <div class="stretch stretch-full">
          <div class="align-items-start justify-content-between m-2 p-3 bg-soft-dark">
            <div class="d-flex gap-4 align-items-center" (click)="toggleAddMembers()">
              <div class="avatar-text bg-gray-100">
                <i class="feather-plus"></i>
              </div>
              <div >
                <h3 class="fs-13 fw-semibold text-truncate-1-line">Add Group Members</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Display group members or users not in the group -->
      <div class="col-xxl-12 col-md-12">
        <div class="stretch stretch-full">
          <div class="align-items-start justify-content-between m-2">
            <div *ngIf="!isAddingMembers">
              <h4>Current Group Members</h4>
              <div *ngIf="groupMembers?.group_members?.length > 0; else noGroupMembers">
                <div class="d-flex gap-4 mb-3 align-items-center" *ngFor="let member of groupMembers?.group_members">
                  <div class="avatar-text bg-gray-100">
                    <i class="feather-user"></i>
                  </div>
                  <div>
                    <h3 class="fs-13 fw-semibold text-truncate-1-line">{{member.user_name}}</h3>
                  </div>
                 
                  <div class="deactivate-icon" (click)="deactivate(member.id)" >
                    <i class="feather-user-minus" title="Deactivate"></i>
                  </div>
                  
                </div>
              </div>
              <!-- No group members message -->
              <ng-template #noGroupMembers>
                <p>No group members available.</p>
              </ng-template>
            </div>

            <div *ngIf="isAddingMembers">
              <h6>Users Not in {{ isSubgroup ? 'Subgroup' : 'Group' }}</h6>
              <div *ngIf="nonGroupMembers.length > 0; else noNonGroupMembers">
                <div
                  class="d-flex gap-4 mb-3 align-items-center"
                  *ngFor="let user of nonGroupMembers"
                  [ngClass]="{ 'selected': user.isSelected }"
                  (click)="user.isSelected = !user.isSelected"
                >
                  <div class="avatar-text bg-gray-100">
                    <i class="feather-user"></i>
                  </div>
                  <div>
                    <h3 class="fs-13 fw-semibold text-truncate-1-line">{{user.firstname}} {{user.lastname}}</h3>
                  </div>
                 
                </div>
              </div>
              <!-- No users to add -->
              <ng-template #noNonGroupMembers>
                <p>All users are already in the {{ isSubgroup ? 'subgroup' : 'group' }}.</p>
              </ng-template>
              <button class="seeall" (click)="addGroupMembers()">Add Members</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
