.seeall{
    background: #1e6aba;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
  .d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar-text {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 50%;
  }
  
  .selected {
    background-color: #d1f5d3; /* Light green for selected state */
    border-left: 5px solid #4caf50; /* Green border to highlight selection */
  }
  
  .deactivate-icon {
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
    color: #f44336; /* Red color for deactivation */
  }
  
  .deactivate-icon:hover {
    color: #e53935; /* Darker red on hover */
  }
  
  .main-content .seeall {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .main-content .seeall:hover {
    background-color: #388e3c;
  }
  