.text-box { 
    width: 300px; 
    height: auto; 
    border: 1px solid #ccc; 
    

    overflow:hidden;
  
  }
  .text-box img {
    width: 100%;            
                
    height: 50%;              
    object-fit: cover; 
        
}
.content{
    padding:20px;
}
.last-content img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.last-content{
    padding:5px;
    display:flex;
    flex-direction:row;
    justify-content: start;
    gap:12px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;


}

@media (max-width:770px) 
{

    .row{
        gap: 10px;
    }
}
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #343a40;
    color: white;
  }

  .sidebar .nav-link {
    color: #adb5bd;
  }

  .sidebar .nav-link.active {
    color: white;
    background-color: #495057;
  }
  
  .content1 {
    padding: 20px;
    flex-grow: 1;
  }
  .part{
    display:flex;
  }


.page-header {
    display: flex;
    align-items: center;
    top: 0px;
    padding: 15px 30px;
    /* align-items: center; */
    height: 80px;
    left: 280px;
    right: 0;
    z-index: 1023;
    min-height: 79px;
    padding: 0 30px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.nxl-container {
    top: 0px;
    margin-left: 280px;
    min-height: calc(100vh - 0px);
    transition: all .3s ease;
}