<div class="part">
 
    <nav class="side-nav ">
        <h4>Blogs</h4>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Technology Trends</a></li>
          <li class="list-group-item"><a href="#">Recruiting Trends</a></li>
          <li class="list-group-item"><a href="#">Current Affairs</a></li>
          <li class="list-group-item"><a href="#">Sports news</a></li>
        </ul>
        </nav>
    

    <div class="content1">
    <div class="row">
        <div class="col-lg-4">
    <div class="text-box"> 
        <img src="../../../assets/images/employee.jpg" alt="Image description" width="300px" height="150px">
        <div class="content" >
       <h4> How Can My Business Win Awards? 
        </h4><p>Business is the practice of making money by producing, buying, or selling products or services.
        </p>
        </div>
        <div>
        <hr>
        </div> 
        <div class="last-content ">
            <div class="circleimage">
            <img src="../../../assets/images/employee.jpg" alt="Image description" width="300px" height="150px"> 
            </div>
            <div class="imagecontent ">
            <p>K Vamsi<br>
            October 10,1999</p>
               </div>
        </div>
      
      </div>
      </div>
      <div class="col-lg-4">
        <div class="text-box"> 
            <img src="../../../assets/images/employee.jpg" alt="Image description"width="300px" height="150px"> 
            <div class="content" > <h4> How Can My Business Win Awards? 
            </h4> <p>Business is the practice of making money by producing,
                 buying, or selling products or services.</p>
                </div>
                <div>
                <hr>
                </div> 
            <div class="last-content ">
                <div class="circleimage">
                <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                </div>
                <div class="imagecontent ">
                <p>K Vamsi<br>
                    October 10,1999</p>
                   </div>
              
                
            
                

            </div> 
          </div>
        

          </div>
          <div class="col-lg-4">
            <div class="text-box"> 
                <img src="../../../assets/images/employee.jpg" alt="Image description" 
                > 
                <div class="content"> <h4> How Can My Business Win Awards? 
                </h4> <p>Business is the practice of making money by producing, buying,
                     or selling products or services.</p> 
                    </div>
                    <div>
                    <hr>
                    </div> 
                <div class="last-content ">
                    <div class="circleimage">
                    <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                    </div>
                    <div class="imagecontent ">
                    <p>K Vamsi<br>
                        October 10,1999</p>
                       </div>
              </div>
              </div>
            
      </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-4">
    <div class="text-box"> 
        <img src="../../../assets/images/employee.jpg" alt="Image description"
         > 
        <div class="content"> <h4> How Can My Business Win Awards? 
        </h4> <p>Business is the practice of making money by producing, buying,
             or selling products or services.</p>
            </div>
            <div>
            <hr>
            </div>  
        <div class="last-content ">
            <div class="circleimage">
            <img src="../../../assets/images/employee.jpg" alt="Image description" > 
            </div>
            <div class="imagecontent ">
            <p>K Vamsi<br>
                October 10,1999</p>
               </div>
      </div>
      </div>
      </div>
      
      <div class="col-lg-4">
        <div class="text-box"> 
            <img src="../../../assets/images/employee.jpg" alt="Image description" 
            > 
            <div class="content"> <h4> How Can My Business Win Awards? 
            </h4><p>Business is the practice of making money by producing, buying, or selling
                 products or services.</p> 
                </div>
                <div>
                <hr>
                </div>  
            <div class="last-content ">
                <div class="circleimage">
                <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                </div>
                <div class="imagecontent ">
                <p>K Vamsi<br>
                    October 10,1999</p>
                   </div>
          </div>
          
          </div>
          </div>
          
          <div class="col-lg-4">
            <div class="text-box"> 
                <img src="../../../assets/images/employee.jpg" alt="Image description"
                > 
                <div class="content"><h4> How Can My Business Win Awards? 
                </h4><p>Business is the practice of making money by producing,
                     buying, or selling products or services.</p> 
                    </div>
                    <div>
                    <hr>
                    </div> 
                <div class="last-content">
                    <div class="circleimage">
                    <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                    </div>
                    <div class="imagecontent ">
                    <p>K Vamsi<br>
                        October 10,1999</p>
                       </div>
            </div>
              </div>
              </div>
      </div>
      <p style="text-align: center; color:red;" class="mt-4">The End</p>

    </div>
    </div>
