
<main class="nxl-container">
    <div class="nxl-content">
        <!-- [ page-header ] start -->
        <div class="page-header">
            <div class="page-header-left d-flex align-items-center">
                <div class="page-header-title">
                    <h5 class="m-b-10">Dashboard</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Dashboard</li>
                </ul>
            </div>
            <div class="page-header-right ms-auto">
                <div class="page-header-right-items">
                    <div class="d-flex d-md-none">
                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                            <i class="feather-arrow-left me-2"></i>
                            <span>Back</span>
                        </a>
                    </div>
                
                </div>
                
            </div>
        </div>

        <div class="main-content">
    <div class="container">
    <div class="row">
        <div class="col-lg-4">
    <div class="text-box"> 
        <img src="../../../assets/images/employee.jpg" alt="Image description">
        <div class="content" >
       <h4> How Can My Business Win Awards? 
        </h4><p>Business is the practice of making money by producing, buying, or selling products or services.
        </p>
        </div>
        <div>
        <hr>
        </div> 
        <div class="last-content ">
            <div class="circleimage">
            <img src="../../../assets/images/employee.jpg" alt="Image description" > 
            </div>
            <div class="imagecontent ">
            <p>K Vamsi<br>
            October 10,1999</p>
               </div>
        </div>
      
      </div>
      </div>
      <div class="col-lg-4">
        <div class="text-box"> 
            <img src="../../../assets/images/employee.jpg" alt="Image description"width="300px" height="150px"> 
            <div class="content" > <h4> How Can My Business Win Awards? 
            </h4> <p>Business is the practice of making money by producing,
                 buying, or selling products or services.</p>
                </div>
                <div>
                <hr>
                </div> 
            <div class="last-content ">
                <div class="circleimage">
                <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                </div>
                <div class="imagecontent ">
                <p>K Vamsi<br>
                    October 10,1999</p>
                   </div>
              
                
            
                

            </div> 
          </div>
        

          </div>
          <div class="col-lg-4">
            <div class="text-box"> 
                <img src="../../../assets/images/employee.jpg" alt="Image description" 
                > 
                <div class="content"> <h4> How Can My Business Win Awards? 
                </h4> <p>Business is the practice of making money by producing, buying,
                     or selling products or services.</p> 
                    </div>
                    <div>
                    <hr>
                    </div> 
                <div class="last-content ">
                    <div class="circleimage">
                    <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                    </div>
                    <div class="imagecontent ">
                    <p>K Vamsi<br>
                        October 10,1999</p>
                       </div>
              </div>
              </div>
            
      </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-4">
    <div class="text-box"> 
        <img src="../../../assets/images/employee.jpg" alt="Image description"
         > 
        <div class="content"> <h4> How Can My Business Win Awards? 
        </h4> <p>Business is the practice of making money by producing, buying,
             or selling products or services.</p>
            </div>
            <div>
            <hr>
            </div>  
        <div class="last-content ">
            <div class="circleimage">
            <img src="../../../assets/images/employee.jpg" alt="Image description" > 
            </div>
            <div class="imagecontent ">
            <p>K Vamsi<br>
                October 10,1999</p>
               </div>
      </div>
      </div>
      </div>
      
      <div class="col-lg-4">
        <div class="text-box"> 
            <img src="../../../assets/images/employee.jpg" alt="Image description" 
            > 
            <div class="content"> <h4> How Can My Business Win Awards? 
            </h4><p>Business is the practice of making money by producing, buying, or selling
                 products or services.</p> 
                </div>
                <div>
                <hr>
                </div>  
            <div class="last-content ">
                <div class="circleimage">
                <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                </div>
                <div class="imagecontent ">
                <p>K Vamsi<br>
                    October 10,1999</p>
                   </div>
          </div>
          
          </div>
          </div>
          
          <div class="col-lg-4">
            <div class="text-box"> 
                <img src="../../../assets/images/employee.jpg" alt="Image description"
                > 
                <div class="content"><h4> How Can My Business Win Awards? 
                </h4><p>Business is the practice of making money by producing,
                     buying, or selling products or services.</p> 
                    </div>
                    <div>
                    <hr>
                    </div> 
                <div class="last-content">
                    <div class="circleimage">
                    <img src="../../../assets/images/employee.jpg" alt="Image description" > 
                    </div>
                    <div class="imagecontent ">
                    <p>K Vamsi<br>
                        October 10,1999</p>
                       </div>
            </div>
              </div>
              </div>
      </div>
      <p style="text-align: center; color:red;" class="mt-4">The End</p>

    </div></div></div></main>