.part {
  // padding: 20px;
}

.side-nav {
  background-color: #ffffff; /* Light grey background for the sidebar */
  padding: 20px;
   /* Keep the sidebar content height dynamic */
  min-height: 100vh; /* Ensure full viewport height */
  width: 280px; /* Limit the sidebar width */
  // border-right: 1px solid #ddd; /* Border to separate sidebar and content */
}

.side-nav h4 {
  margin-bottom: 20px;
}

.side-nav ul {
  padding-left: 0;
}

.side-nav ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.side-nav ul li a {
  text-decoration: none;
  color: #333;
}

.side-nav ul li a:hover {
  color: #007bff; /* Highlight link on hover */
}

.content-area {
  padding: 20px;
}

.text-box {
  background-color: #ffffff;
  border: 1px solid #ddd; 
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  
}

.text-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow on hover */
}

.circleimage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.imagecontent p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

hr {
  margin: 20px 0;
}
.part{
  display:flex;
  
}
.row{
  margin-top:8%;
  margin-left:6%;
}



